#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex-grow: 1;
}

.bg-verdecito {
  background-color: #003c25;
}

.bannerPrincipal {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.imgTabla{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
