#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex-grow: 1;
}

.bg-verdecito {
  background-color: #003c25;
}

.bannerPrincipal {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.imgTabla{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#descripcionBreve, #descripcionAmplia {
  resize: none;
}

.cardImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.imgDetalle{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.descProducto{
  height: 80px;
}
